<div class="make-center">
  <input type="text" id="room-id" placeholder="enter_room_name" autocorrect=off autocapitalize=off size=20>
  <button  (click)="openRoom()">Open Room</button>
  <button  (click)="joinRoom()">Join Room</button>
  <button (click)="open_or_join()">Auto Open Or Join Room</button>
  <div style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
  <!-- <video id="video-preview"></video> -->
  <!-- <video id="video-remote"></video> -->
  <div id="videos-container" style="margin: 20px 0;"></div>
</div>
